fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
typing-extensions
langchain
langchain-community
langchain-huggingface
langgraph
langchain-groq
cassio
requests
streamlit
bs4
tiktoken
wikipedia

